/*********************************
	USE SET
*********************************/
@use "../../foundation/base" as b;
@use "../../foundation/color" as c;

/*---------- solution ----------*/
.p-solution {
    &__lists {
        display: flex;
        gap: 32px;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
    }

    &__list {
        margin: 0 auto;

        img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
            width: 320px;
        }

        p {
            background: c.$color-gray;
            font-weight: bold;
            padding: 10px 16px;
            text-align: center;
            width: 320px;
        }
    }
}
