/*********************************
	USE SET
*********************************/
@use "../foundation/color" as c;

/*---------- footer ----------*/
.l-footer {
    background: c.$color-black;
    color: c.$color-base;
	padding: 30px 0;

    .c-inner {
		align-items: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__lists {
        font-size: 1.4rem;
        display: flex;
		gap: 10px;
		padding: 0 0 30px;

        a {
            color : inherit;
        }
    }
}
